/*----------------------> Products <------------------*/

.products{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0px;
  justify-content: center;
  
  &__section{
    color: #fff;
    min-height: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/product-section-pattern-bg.png) 50% 50% repeat;
    position: relative;

    .container{
      position: relative;
      z-index: 2;
    }

    &::before,
    &::after{
      position: absolute;
      display: block;
      width: 100%;
      left: 0;
      height: 40%;
      z-index: 1;
      content: "";
    }

    &::before{
      top: 0;
      background: url(../images/product-section-shadow-top.png) 50% 0 repeat-x;
    }
    &::after{
      bottom: 0;
      background: url(../images/product-section-shadow-bottom.png) 50% 100% repeat-x;
    }

  }


    &__item{
      $self: &;
      width: 320px;
      margin: 0 40px 80px;

      &-inner{
        padding: 4px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
      }

        &-bg{
          position: absolute;
          top: 46px;
          bottom: 0;
          right: 0;
          left: 0;
          background-color: #f2f2f2;
          border-radius: 0 0 12px 12px;
          border: 4px solid #1698d9;
          border-top: none;

          &::after,
          &::before{
            display: block;
            position: absolute;
            background-color: #f2f2f2;
            content: "";
          }

          &::before{
            bottom: 100%;
            height: 42px;
            left: 42px;
            right: -4px;
            border-right: 4px solid #1698d9;
            border-top: 4px solid #1698d9;
            border-radius: 0 12px 0 0;
            z-index: 10;
          }

          &::after{
            width: 80px;
            height: 80px;
            left: 13px;
            top: -40px;
            border-left: 4px solid #1698d9;
            transform: rotate(44deg);
          }

        }

        &-caption{
          padding: 20px 40px 0;
          position: relative;
          z-index: 10;
        }

          &-label{
            font-size: 16px;
            color: #666;
            margin-bottom: 10px;
          }

          &-name{
            font-size: 48px;
            line-height: 1;
            color: #000;
            font-weight: 700;
            margin: 0 0 18px;

            span{
              margin-top: 4px;
              display: block;
              font-size: 24px;
            }

          }

          &-presents{
            font-size: 14px;
            color: #666;
            min-height: 48px;
            margin-bottom: 15px;
          }

          &-weight{
            border-radius: 50%;
            height: 80px;
            width: 80px;
            background-color: #1698d9;
            position: absolute;
            right: 15px;
            bottom: 15px;
            color: #fff;
            font-size: 21px;
            line-height: 1;
            text-align: center;
            padding: 15px 0 0;
            z-index: 15;

            span{
              font-size: 42px;
              line-height: .9;
              display: block;
            }

          }

        &-img{
          padding: 17px 0 0;
          z-index: 10;
          position: relative;
          line-height: 0;

          img{
            max-width: 100%;
            height: auto;
            border-radius: 0 0 12px 12px;
          }
        }

        &-buy-text{
          padding: 15px 0 0;
          text-align: center;
          font-size: 13px;

          a{
            display: inline-block;
            border-bottom: 1px dashed #1698d9;
            color: #1698d9;

            &:hover{
              border-color: transparent;
            }

          }

        }

      &:not(&--selected):not(&--disabled) &-inner:hover{

        #{$self}{

          &-bg{
              border-color: #2ea8e6;

              &::after,
              &::before{
                border-color: #2ea8e6;
              }

          }

          &-weight{
            background-color: #2ea8e6;
          }

          &-buy-text{
            a{
              color: #2ea8e6;
              border-color: #2ea8e6;
            }
            
          }
          
        }

      }

      &--selected{

        #{$self}{

          &-inner{
            cursor: default;
          }

          &-bg{
              border-color: #d91667;

              &::after,
              &::before{
                border-color: #d91667;
              }

          }

          &-weight{
            background-color: #d91667;
          }

          &-buy-text{
            a{
              color: #d91667;
              border-color: #d91667;
            }
            
          }
          
        }

        &:hover{
          #{$self}{

            &-inner{
              cursor: default;
            }

            &-bg{
                border-color: #e62e7a;

                &::after,
                &::before{
                  border-color: #e62e7a;
                }

            }

            &-weight{
              background-color: #e62e7a;
            }

            &-buy-text{
              a{
                color: #e62e7a;
                border-color: #e62e7a;
              }
              
            }
            
          }
        }

      }

      &--disabled{

        #{$self}{

          &-inner{
            cursor: default;
          }

          &-caption,
          &-img{
            opacity: .5;
          }

          &-presents,
          &-name{
            color: #b3b3b3;
          }

          &-bg{
              border-color: #b3b3b3;

              &::after,
              &::before{
                border-color: #b3b3b3;
              }

          }

          &-weight{
            background-color: #b3b3b3;
          }

          &-buy-text{
            color: #ffff66;

            a{
              color: #b3b3b3;
            }

          }

        }

      }

    }

}


@media only screen and (max-width: 992px) {
  .products{

    &__section{
      padding: 50px 0;
    }

    &__item{
      margin: 0 20px 40px;
    }

  }
}


@media only screen and (max-width: 480px) {
  .products{

    &__section{
      padding: 25px 0;
    }

    &__item{
      margin: 0 0px 20px;
      width: 100%;

      &-caption{
        padding-top: 40px;
      }

      &-name{
        font-size: 30px;
      }

    }

  }
}